.modal {
  :global(.ant-modal-content) {
    border-radius: 12px;
  }

  :global(.ant-modal-header) {
    border-bottom: 0;
    padding: 32px 32px 28px;
    border-radius: 20px;
  }
  :global(.ant-modal-header .ant-modal-title) {
    font-size: 18px;
  }

  :global(.ant-modal-close) {
    top: 16px;
    right: 16px;
  }

  :global(.ant-modal-body) {
    padding: 0 36px 32px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;

  :global(.ant-collapse) {
    background-color: transparent;
  }
  :global(.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header) {
    padding: 16px;
  }
  :global(.ant-collapse-content-box) {
    display: flex;
    justify-content: space-between;
  }
  :global(.ant-collapse-content) {
    border: none
  }
  :global(.ant-btn) {
    border-color: #fff
  }
}
.walletItemWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 2px solid #666666;
  &:last-child {
    margin-bottom: 0
  }
  &:hover {
    background: #323438,
  }
  &:after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #55E752;
    transform: translate(0, -50%);
  }
}
.walletItem {
  padding: 14px 24px;
  cursor: pointer;
}
.walletItemWrapperSelected {
  &:after {
    display: block
  }
}
.walletLogo {
  width: 24px;
  margin-right: 12px;
  vertical-align: middle
}
.walletName {
  vertical-align: middle;
  line-height: 24px
}
