.modal {
  :global(.ant-modal-content) {
    border-radius: 12px;
  }

  :global(.ant-modal-header) {
    padding: 32px 32px 28px;
    border-bottom: 0;
    border-radius: 20px;
  }
  :global(.ant-modal-header .ant-modal-title) {
    font-size: 18px;
  }

  :global(.ant-modal-close) {
    top: 16px;
    right: 16px;
  }

  :global(.ant-modal-body) {
    padding: 0 36px 32px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;

  :global(.ant-collapse) {
    background-color: transparent;
  }
  :global(.ant-collapse-icon-position-right
      > .ant-collapse-item
      > .ant-collapse-header) {
    padding: 16px;
  }
  :global(.ant-collapse-content-box) {
    display: flex;
    justify-content: space-between;
  }
  :global(.ant-collapse-content) {
    border: none;
  }
  :global(.ant-btn) {
    border-color: #fff;
  }
}
.walletItemWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  border: 2px solid #666666;
  border-radius: 4px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: #323438;
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 24px;
    display: none;
    width: 8px;
    height: 8px;
    background-color: #55e752;
    border-radius: 50%;
    transform: translate(0, -50%);
    content: "";
  }
}
.walletItem {
  padding: 14px 24px;
  cursor: pointer;
}
.walletItemWrapperSelected {
  &:after {
    display: block;
  }
}
.walletLogo {
  width: 24px;
  margin-right: 12px;
  vertical-align: middle;
}
.walletName {
  line-height: 24px;
  vertical-align: middle;
}
