@import "~antd/es/style/themes/default.less";

.chartCard {
  position: relative;
  .title {
    color: @text-color;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .chartTop {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .chartTopMargin {
    margin-bottom: 12px;
  }
  .chartTopHasMargin {
    margin-bottom: 20px;
  }
  .metaWrap {
    float: left;
  }
  .avatar {
    position: relative;
    top: 4px;
    float: left;
    margin-right: 20px;
    img {
      border-radius: 100%;
    }
  }
  .meta {
    color: @text-color-secondary;
    font-size: @font-size-base;
  }
  .action {
    position: absolute;
    top: 4px;
    right: 0;
    line-height: 1;
    cursor: pointer;
  }
  .total {
    margin-top: 0.625rem;
    margin-bottom: 0;
    overflow: hidden;
    color: @text-color;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    .unit {
      margin-left: 0.5rem;
      font-size: 2.375rem;
      background-image: linear-gradient(
        223.3deg,
        #a68efd 20.71%,
        #f4acf3 103.56%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .content {
    position: relative;
    width: 100%;
  }
  .contentFixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid @border-color-split;
    & > * {
      position: relative;
    }
  }
  .footerMargin {
  }
}

.card {
  :global {
    .ant-card-body {
      padding: 2.375rem 2.125rem 2.375rem 2.75rem;
    }
  }
}

@media screen and (max-width: 554px) {
  .card {
    :global {
      .ant-card-body {
        padding: 1rem;
      }
    }
  }

  .chartCard {
    .action {
      right: 2rem;
    }
    .footer {
      margin-top: 0;
      padding-top: 0.5rem;
    }
  }
}
