
@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

:global(.ant-pro-global-header > div) {
  display: none;
}

:global(.ant-pro-global-header) {
  .header {
    display: flex;
  }
}

:global(.ant-pro-top-nav-header .ant-pro-top-nav-header-menu) {
  flex: 0 !important;
  width: 0;
}

:global(.ant-pro-right-content) {
  flex: 1;
}

.header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: flex-end;
}

.headerMenu {
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 150px;
  font-size: 16px;
  border-bottom: 0;
  transform: translate(-50%, 0);

  :global(.ant-menu-item) {
    position: relative;
  }

  :global(.ant-menu-item:first-child:before) {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 18px;
    margin-top: 2px;
    background-color: #434343;
    transform: translate(0, -50%);
    content: "";
  }

  :global(.ant-menu-item.ant-menu-item-active) {
    color: white;
  }

  :global(.ant-menu-item.ant-menu-item-active:after) {
    border-bottom: 0;
  }

  :global(.ant-menu-item.ant-menu-item-selected) {
    color: '#A68EFE';
  }

  :global(.ant-menu-item.ant-menu-item-selected:after) {
    border-bottom: 2px solid '#A68EFE';
  }
}

.avatarMenu {
  :global(.anticon) {
    margin-right: 8px;
  }
}

.right {
  display: flex;
  overflow: hidden;
  .action {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 1.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(to right, #1E1E1F, #1E1E1F), linear-gradient(219.17deg, #94E3FF 24.63%, #FE3DCE 104.13%);
    background-origin: padding-box, border-box;
    cursor: pointer;
    transition: all 0.3s;
    > span {
      vertical-align: middle;
      &.name {
        margin-left: 0.625rem;
        font-size: 1rem;
      }
    }
    &:hover {
      background-image: linear-gradient(to right, #1E1E1F, #1E1E1F), linear-gradient(220.48deg, #FE3DCE 6.75%, #5B93E0 100%);
      box-shadow: 0px 0px 5px #a68efe;
    }
    &:global(.ant-dropdown-open) {
      background-clip: border-box;
      background-image: linear-gradient(220.48deg, #FE3DCE 6.75%, #5B93E0 100%);
      background-origin: border-box;
    }
  }
  .search {
    padding: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin-right: 8px;
      color: '#A68EFE';
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }
  .dot {
    width: 10px;
    height: 10px;
    background: #55e752;
    border-radius: 50%;
  }
}

.dark {
  &.hidden {
    display: none;
  }
}

.chain {
  font-size: 1rem;
  user-select: none;

  &:hover {
    color: #FE3DCE;
    background-image: linear-gradient(75.96deg, #FE3DCE 0%, #94E3FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.myDasboardBtn {
  height: 2.625rem;
  padding: 0 1rem 0 1.25rem;
  background: linear-gradient(223.3deg, #a68efd 20.71%, #f4acf3 103.56%);
  border: none;
  border-radius: 5px;
  &:hover {
    background: linear-gradient(223.3deg, #a68efd 20.71%, #f4acf3 103.56%);
    box-shadow: 0px 0px 10px #a68efe;
  }
  &:focus {
    background: linear-gradient(223.3deg, #a68efd 20.71%, #f4acf3 103.56%);
  }
  &:active {
    background-image: linear-gradient(220.48deg, #FE3DCE 6.75%, #5B93E0 100%);
  }
}

.colorful {
  &:hover {
    color: #FE3DCE;
    background-image: linear-gradient(75.96deg, #FE3DCE 0%, #94E3FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:focus > span,
  &:active > span {
    position: static;
  }
}

.connectBtn {
  height: 2.625rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #1F2023, #1F2023), linear-gradient(219.17deg, #94E3FF 24.63%, #FE3DCE 104.13%);

  &:hover {
    border-color: transparent;
    color: #fff;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #1F2023, #1F2023), linear-gradient(220.48deg, #FE3DCE 6.75%, #5B93E0 100%);
    box-shadow: 0px 0px 5px #a68efe;
  }

  &:focus {
    border-color: transparent;
    color: #fff;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #1F2023, #1F2023), linear-gradient(219.17deg, #94E3FF 24.63%, #FE3DCE 104.13%);
  }

  &:active {
    border-color: transparent;
    color: #fff;
    background-clip: border-box;
    background-image: linear-gradient(220.48deg, #FE3DCE 6.75%, #5B93E0 100%);
    background-origin: border-box;
  }
}


@media screen and (max-width: 554px) {
  .myDasboardBtn {
    > span {
      display: none;
    }
    :global(.anticon) {
      display: inline-block;
    }
  }

  .headerMenu {
    min-width: 110px;
    :global(.ant-menu-item.ant-menu-overflow-item) {
      padding: 0 6px;
    }
    :global(.ant-menu-item.ant-menu-overflow-item:after) {
      right: 6px;
      left: 6px;
    }
  }
}
