@import "~antd/es/style/themes/default.less";

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

:global(.ant-pro-global-header > div) {
  display: none;
}

:global(.ant-pro-global-header) {
  .header {
    display: flex;
  }
}

:global(.ant-pro-top-nav-header .ant-pro-top-nav-header-menu) {
  flex: 0 !important;
  width: 0;
}

:global(.ant-pro-right-content) {
  flex: 1;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.headerMenu {
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 150px;
  font-size: 16px;
  border-bottom: 0;
  transform: translate(-50%, 0);

  :global(.ant-menu-item) {
    position: relative;
  }

  :global(.ant-menu-item:first-child:before) {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 18px;
    margin-top: 2px;
    background-color: #434343;
    transform: translate(0, -50%);
    content: "";
  }

  :global(.ant-menu-item.ant-menu-item-active) {
    color: white;
  }

  :global(.ant-menu-item.ant-menu-item-active:after) {
    border-bottom: 0;
  }

  :global(.ant-menu-item.ant-menu-item-selected) {
    color: @primary-color;
  }

  :global(.ant-menu-item.ant-menu-item-selected:after) {
    border-bottom: 2px solid @primary-color;
  }
}

.avatarMenu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.right {
  display: flex;
  height: 4rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  .action {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 1rem;
    background: #313036;
    border: 2px solid #d7a1f6;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    > span {
      vertical-align: middle;
      &.name {
        margin-left: 0.625rem;
      }
    }
    &:hover {
      background: @pro-header-hover-bg;
    }
    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }
  .search {
    padding: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }
  .dot {
    width: 10px;
    height: 10px;
    background: #55e752;
    border-radius: 50%;
  }
}

.dark {
  .action {
    &:hover {
      background: #252a3d;
    }
    &:global(.opened) {
      background: #252a3d;
    }
  }
  &.hidden {
    display: none;
  }
}

.chainSelect {
  width: 6.5rem;
}

.myDasboardBtn {
  padding: 0;
  background: linear-gradient(223.3deg, #a68efd 20.71%, #f4acf3 103.56%);
  border: none;
  &:hover {
    background: linear-gradient(223.3deg, #a68efd 20.71%, #f4acf3 103.56%);
  }
}

@media only screen and (max-width: @screen-md) {
  :global(.ant-divider-vertical) {
    vertical-align: unset;
  }
  .name {
    display: none;
  }
  .right {
    position: absolute;
    top: 0;
    right: 12px;
    .account {
      .avatar {
        margin-right: 0;
        margin-left: 10px;
      }
    }
    .search {
      display: none;
    }
  }
}

@media screen and (max-width: 554px) {
  .myDasboardBtn {
    > span {
      display: none;
    }
    :global(.anticon) {
      display: inline-block;
    }
  }

  .headerMenu {
    min-width: 110px;
    :global(.ant-menu-item.ant-menu-overflow-item) {
      padding: 0 6px;
    }
    :global(.ant-menu-item.ant-menu-overflow-item:after) {
      right: 6px;
      left: 6px;
    }
  }

  .chainSelect {
    width: 5rem;
  }
}
