@import "~antd/es/style/themes/default.less";

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  background-color: #1f2023;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.mobile-font-size {
  font-size: 0.8rem;
}

.tablet-font-size {
  font-size: 0.8rem;
}

div.ant-pro-top-nav-header {
  max-width: 1200px;
  margin: 0 auto;
  &.light {
    background-color: transparent;
  }
}
.ant-pro-top-nav-header-logo {
  h1 {
    color: @text-color;
  }
}

div.ant-card {
  padding: 0.5rem;
  background: #323338;
  border-radius: 20px;
  .ant-card-head {
    font-weight: normal;
  }
}
div.ant-card-body {
  padding: 1.375rem 2.75rem 1.75rem;
}

div.ant-tooltip {
  max-width: none;
  .ant-tooltip-inner {
    padding: 1.25rem 2.5rem;
    color: #313036;
    background-color: @primary-color;
    border-radius: 5px;
    &::selection {
      color: #313036;
    }
  }
  .ant-tooltip-arrow {
    width: 1.125rem;
    height: 1.125rem;

    .ant-tooltip-arrow-content {
      width: 1.125rem;
      height: 1.125rem;
      background-color: @primary-color;
    }
  }
}

.ant-tabs {
  .ant-tabs-nav::before {
    border: none;
  }
  .ant-tabs-tab {
    padding: 0 0 1rem;
    font-size: 1rem;
  }
}

div.ant-table {
  background: none !important;
  border: 1px solid #a0a0a0;
  border-radius: 16px;
  .ant-table-thead > tr > th {
    background: #292b2e;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-cell-fix-left,
  .ant-table-cell,
  .ant-table-cell-ellipsis,
  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: transparent;
  }
  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 16px;
  }
  .ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 16px;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #a0a0a0;
  }
  .ant-table-tbody > tr:last-child > td {
    border: none;
  }
  .ant-table-header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .ant-table-thead > tr > th {
    font-weight: normal;
  }
  .ant-table-content {
    border-radius: 16px;
  }
}
div.ant-table-ping-right:not(.ant-table-has-fix-right) > .ant-table-container::after {
  box-shadow: none;
}

.ant-radio-group {
  .ant-radio-button-wrapper {
    // width: 7.5rem;
    // height: 2.25rem;
    // line-height: 2rem;
    text-align: center;
    border: 2px solid #a0a0a0;
    border-top-width: 2px;
    border-left-width: 0;
    &:first-child {
      border-left: 2px solid #a0a0a0;
    }
  }
  .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
    border-right-color: @primary-color;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    left: -2px;
    width: 2px;
    background-color: #a0a0a0;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: @primary-color;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: @primary-color;
    border-color: @primary-color;
  }
}

ul.ant-dropdown-menu {
  background-color: #292b2e;
  .ant-dropdown-menu-item {
    padding: 0.5rem 1rem;
    color: #a0a0a0;
  }
}

footer.ant-layout-footer {
  background: transparent;
}

div.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #a0a0a0;
}

/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: gray;

  border: 2px solid #fff;

  -webkit-border-radius: 4px;

  outline: 2px solid #fff;

  outline-offset: -2px;
}

/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: gray;

  -webkit-border-radius: 4px;
}

/*---滚动条大小--*/

::-webkit-scrollbar {
  width: 8px;

  height: 8px;
}

/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
  background-color: #fff;

  -webkit-border-radius: 0;
}

.ant-layout-header {
  line-height: 4rem;
}

@media screen and (max-width: 554px) {
  .ant-pro-basicLayout-content {
    margin: 1rem;
  }
  div.ant-tooltip .ant-tooltip-inner {
    padding: 0.5rem;
  }
}
