@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  background-color: #1F2023;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}

.mobile-font-size {
  font-size: 0.8rem;
}

.tablet-font-size {
  font-size: 0.8rem;
}

.ant-pro-top-nav-header {
  max-width: 1200px ;
  margin: 0 auto ;
}
.ant-pro-top-nav-header-logo {
  h1 {
    color: @text-color ;
  }
}
.ant-pro-top-nav-header.light {
  background-color: transparent;
}

div.ant-card {
  border-radius: 20px;
  background: #323338;
}

.ant-tooltip {
  max-width: none;
  .ant-tooltip-inner {
    padding: 1.25rem 2.5rem;
    border-radius: 5px;
    background-color: @primary-color;
    color: #313036;
  }
  .ant-tooltip-arrow {
    width: 1.125rem;
    height: 1.125rem;

    .ant-tooltip-arrow-content {
      width: 1.125rem;
      height: 1.125rem;
      background-color: @primary-color;
    }
  }
}

.ant-tabs {
  .ant-tabs-nav::before {
    border: none;
  }
  .ant-tabs-tab {
    padding: 0 0 1rem;
  }
}
